@import "https://fonts.googleapis.com/css?family=Raleway";

body, button, input {
  font-family: Raleway;
}

body {
  margin: 0;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

p {
  margin-block-start: 1vmin;
  margin-block-end: 1vmin;
}

p, input {
  font-size: 3vmin;
}

h1 { 
  font-size: 5vmin;
}

a {
  color: cornflowerBlue;
}

form {
  /*width: 40%;
  margin: 0 auto;*/
}

#input {
  width: 20em;
}

.moreInfo p, #linkHelp p, #blacklistHelp p, #excludeHelp, #dateHelp p, label{
  font-size: 2vmin;
}

hr {
  margin: 5vmin 2vmin 5vmin 2vmin;
}

.DayPickerInput {
  color: black;
}

#warning {
  color: red;
  font-size: 2vmin;
}

#checkbox, input{
  margin: 2vmin 1vmin 2vmin 1vmin;
}

#linkHelp img {
  width: 50%;
}
